header{
    width: 100vw;
    height: 15vh;
    background-color: #868684;
}

header p {
    text-align: center;
    color: blanchedalmond;
    font-size: 3.0em;
    line-height: 15vh;
    font-family: 'Nerko One', cursive;
    
}