.search-text {
	
	background-color: #696968;
	padding-top: 30px;
	padding-bottom: 50px;
    
    
    
}
	
.search-text .input-search {
	height: 45px;
	width: 40%;
	padding-left: 20px;
    color: #333;
} 

.search-text .btn-search {
    background: #da3e44;
    border: none;
	color: blanchedalmond;
	height: 44px;
    width: 80px;
}

h4 {
    color: blanchedalmond;
    font-weight: 900;
    font-size: 1.8em;
	font-family: 'Nerko One', cursive;
}
