<div class="search-text">
  <div class="container">
    <div class="row text-center">
      <div class="form">

        <form ngNativeValidate #newsletterForm="ngForm" (ngSubmit)="onSubmit(newsletterForm)" id="search-form" class="form-search form-horizontal" >
            <h4>RECEBA NOSSAS NOVIDADES</h4>

                <div class="form-group">

<input type="email" class="form-control" id="email" name="email" [(ngModel)]="newsletter.email" #email="ngModel"
                         email />

                    </div>
                    <button [disabled]="!newsletterForm.valid" type="submit" class="btn btn-primary">
                      Inscreva-se
                    </button>
                  </form>
                        <!-- <p id="msg" *ngIf="formMessage">Obrigado por se registrar</p> -->
    </div>
    </div>
    </div>
    </div>
